includes:
    - ./vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    paths:
        - src
    level: 6
    reportStaticMethodSignatures: true
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
